body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Brush Script MT", cursive;
  font-size: 25px;
  background-color: #646464;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 5px;
}
.login {
  float: right;
}
.login:hover {
  color: black;
}

nav a:hover {
  color: black;
}
.home {
  color: yellow;
  font-size: 43px;
  margin-top: -11px;
  margin-right: 100px;
}
.home:hover {
  color: red;
}
.video {
  font-size: 15px;
  background-color: #646464;
  overflow: hidden;
  text-align: center;
  color: red;
}
.video i a {
  font-family: "Roboto Mono", monospace;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.video i a:hover {
  color: orange;
}
