.footer {
  color: #fff;
  padding: 20px;
  font-family: "Brush Script MT", cursive;
  font-size: 2vw;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo h1 {
  font-size: 3vw;
  margin-top: 20px;
  color: yellow;
}
.footer-logo h1:hover {
  color: red;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  text-align: center;
}

.footer-links li {
  margin-right: 2vh;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  text-align: center;
}

.footer-links a:hover {
  color: black;
}

.footer-social a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: yellow;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
