body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Brush Script MT", cursive;
  font-size: 2vw;
  background-color: #646464;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
}
.login {
  float: right;
}
.login:hover {
  color: black;
}

nav a:hover {
  color: black;
}

.home-logo:hover {
  color: red;
}
.video {
  font-size: 1vw;
  overflow: hidden;
  text-align: center;
  color: red;
}
.video i a {
  font-family: "Roboto Mono", monospace;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.video i a:hover {
  color: orange;
}
.home-logo {
  font-size: 5vh;
  align-items: center;
  color: yellow;
  margin-right: 100px;
}
