.hero-section {
  position: relative;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1476286466570-6692db3f59db?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Brush Script MT", cursive;
}

.hero-content {
  z-index: 1;
  max-width: 800px;
}
.hero-heading {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subheading {
  font-size: 2vw;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover {
  background-color: red;
  border-color: red;
  color: white;
}
